body,
main,
ul {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    width: 720px;
    margin: auto;
    border: 1px solid #fff;
    padding: 1rem;
    border-radius: .4rem;
}

header {
    display: flex;
    padding: .2rem;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: .4rem .2rem;
}

p {
    margin: .1rem;
    padding: .1rem;
}

ul {
    display: flex;
    list-style: none;
    margin: .5rem;
    padding: .2rem;
    overflow: auto;
}

.info {
    background-color: var(--background-1);
    font-size: .8rem;
    width: fit-content;
    margin: .1rem;
    border-radius: .6rem;
    padding: .4rem;
    align-self: center;
}

.message {
    width: fit-content;
    padding: .5rem;
    margin: .1rem 1rem .2rem .1rem;
    border-radius: .4rem;
    background-color: var(--message-left);
}

.current-user {
    background-color: var(--message-right);
    margin: .1rem .1rem .2rem 1rem;
    align-self: flex-end;
}

form {
    display: flex;
    margin-top: auto;
}

input {
    padding: .5rem;
    flex-grow: 1;
}

input:focus {
    outline: none;
}

button {
    padding: .5rem;
}