:root {
    --background-dark: #0B141A;
    --form: #202C33;
    --input: #2A3942;
    --message-left: #202C33;
    --message-right: #005C4B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--background-dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}