extends layout.pug

block styles
    link(rel="stylesheet" href="./styles/login.css")
block content
    main
        form(action="/chat")
            h1 Login
            div
                input(type="text" name="username" placeholder="What is your name?" required)
                input(type="text" name="room" placeholder="Room" value="room1" required)
                button(type="submit") Sign in